# Introduction to Python: Basics

## Ways of running Python

* Running Python scripts
* Python or IPython console
* Jupyter notebook

All this can be done locally or on Ebrains.

## Basics of Python

### Data types and variables

The basic data types are integer, float, bool, and string.

In [45]:
a = 4
b = 1.2
c = True
d = "This is a string"

In [46]:
print(a)

4

In [47]:
d

'This is a string'

In [48]:
type(b)

float

Different data types are automatically converted where reasonable:

In [49]:
a + b

5.2

In [50]:
a + b + c

6.2

## Basic data structures

**List** is an ordered collection of items.

In [31]:
a = [2, 3, -1, 4]

In [32]:
a[0], a[1:3], a[-1]

(2, [3, -1], 4)

Anything can be put in the list (but not often there is a good reason to do that):

In [40]:
b = ["Anything", -8.2, True, a]

Lists can be modified:

In [34]:
a.append(1)
a.extend([2,5,8])
a

[2, 3, -1, 4, 1, 2, 5, 8]

**Tuple** is an ordered unchangeable collection.

In [35]:
c = ("Alice", 36)

In [41]:
# Implicit tuple
0, 1, 3

(0, 1, 3)

**Dictionary** holds key-value pairs.

In [54]:
ages = {'Alice': 36, 'Bob': 16, 'Charlie': 48}

In [55]:
ages['Bob']

16

In [81]:
ages['Charlie'] += 1
ages['David'] = 0

ages

{'Alice': 36, 'Bob': 16, 'Charlie': 50, 'David': 0}

**Set** is an unordered collection of unique items.

In [58]:
fruits = {'apple', 'pear', 'orange', 'apple'}
fruits

{'apple', 'orange', 'pear'}

## Conditionals and loops

In [52]:
a = 13
b = 7

if a > b:
    print("a is greater than b")
elif a < b:
    print("b is greater than a")
else:
    print("a is equal to b")

a is greater than b

Anything that evaluates to bool can be used in conditionals:

In [92]:
ages = {'Alice': 36, 'Bob': 16, 'Clara': 48}

name = 'Bob'
if name in ages:
    print(ages[name])

16

**For** and **while** loops:

In [72]:
# sum of squares from 1 to 10

total = 0
for i in range(1, 11):
    total += i**2
    
total

385

In [75]:
# Elements of Fibonnaci sequence smaller than 100

i, j = 1, 1
print(i, end=' ')

while j < 100:
    print(j, end=' ')
    i, j = j, i+j

1 1 2 3 5 8 13 21 34 55 89

**List comprehension** allows to use for loops and conditionals inside a list declaration.

In [94]:
# Same sum as above, but simpler
squares = [i**2 for i in range(1, 11)]
sum(squares)

385

In [93]:
ages = {'Alice': 36, 'Bob': 16, 'Clara': 48, 'David': 0}

under18 = [name for name, age in ages.items() if age < 18]
under18

['Bob', 'David']

## Functions

In [95]:
def sum_of_squares(ifrom, ito):
    return sum([i**2 for i in range(ifrom, ito+1)])

sum_of_squares(1, 10)

385

In [26]:
ages = {'Alice': 36, 'Bob': 16, 'Clara': 48, 'David': 0}

def youngest(ages):
    min_age = min(ages.values())
    names = [name for name, age in ages.items() if age == min_age]
    return names

youngest(ages)

['David']

Functions can modify its arguments:

In [27]:
def add_one_year_to_everyone(ages):
    for name in ages.keys():
        ages[name] += 1
    
print(ages)
add_one_year_to_everyone(ages)
print(ages)

{'Alice': 36, 'Bob': 16, 'Clara': 48, 'David': 0}
{'Alice': 37, 'Bob': 17, 'Clara': 49, 'David': 1}

Functions can have default arguments:

In [28]:
def add_years_to_everyone(ages, years=1):
    for name in ages.keys():
        ages[name] += years
        
add_years_to_everyone(ages, 10)
print(ages)

{'Alice': 47, 'Bob': 27, 'Clara': 59, 'David': 11}

## Modules

Python standard library contains many handy modules which can be imported. For example, `time`, unsurprisingly, contains several functions related to time measuring.

In [30]:
import time

In [31]:
time.ctime()

'Fri Oct 11 19:17:42 2024'

In [43]:
t1 = time.time()

# Leibniz formula for pi
approx_pi = 4 * sum((-1)**k/(2*k+1) for k in range(0,1000000))

t2 = time.time()

print("Approximated pi: ", approx_pi)
print("Time to calculate: ", t2 - t1, "s")

Approximated pi:  3.1415916535897743
Time to calculate:  0.34434008598327637 s



`collections` contains several data containers beyond standard list, tuple, dict, and set. Objects from a module can be also imported directly.

In [119]:
from collections import Counter

In [120]:
counter = Counter(['a', 'b', 'c', 'a', 'b', 'b'])
print(counter)

counter.update(['a', 'a', 'c', 'd'])
print(counter)

Counter({'b': 3, 'a': 2, 'c': 1})
Counter({'a': 4, 'b': 3, 'c': 2, 'd': 1})

We can also create our module. Most simply, we can move our defined functions to a separate file (e.g. `utils.py` in the same folder) and import it. This way, we can keep the notebook cleaner, and functions reusable.

In [13]:
import utils

In [16]:
ages = {'Alice': 36, 'Bob': 16, 'Clara': 48, 'David': 0}

utils.youngest(ages), utils.oldest(ages)

(['David'], ['Clara'])